{% if latest_items %}
	<section id="rolunk" class="relative w-full lg:min-h-150 bg-cover bg-center py-10 lg:mt-10" style="background-image:url('{{ legujabb_termekeink_hatterkep }}')">
		<div class="container">
			<header class="relative text-center mb-10 z-20">
				<h2 class="relative inline-block text-center font-mouse text-3xl lg:text-5xl uppercase text-white z-10 px-4">Legújabb termékeink</h2>
			</header>

			<div class="relative z-10 bg-white border pt-20 lg:pb-4 -mb-40">
				<div class="latest_items_carousel">
					{% for item in latest_items %}
						<article class="min-h-100 gap-4 flex flex-col justify-between items-center">
							<div class="relative w-full h-75 flex flex-col items-center overflow-hidden bg-white mb-2">
								<img src="{{ item.thumbnail.src|resize(200, 200, 'center') }}" class="object-cover mb-2"/>

								{% set prod = fn('wc_get_product', item.ID) %}

								<a href="{{ item.link }}" class="text-center uppercase font-medium text-black hover:underline focus:underline">
									{{ item.title }}
								</a>

								<span class="font-bold text-lg">{{ prod.get_regular_price() }}
									Ft</span>
							</div>

							<a href="{{ site.site_url }}/?add-to-cart={{ prod.get_id() }}&quantity=1" class="block w-fit bg-fishingorange hover:bg-black transition-colors text-white uppercase text-xs font-bold tracking-wider px-3 py-2 mx-auto">Kosárba teszem</a>
						</article>
					{% endfor %}
				</div>

				<ul id="latest_items_controls" class="slider-controls absolute top-1/2 left-1/2 mx-auto flex w-full -translate-x-1/2 list-none items-center justify-center p-0" aria-label="Slider navigáció" tabindex="0">
					<li class="prev" data-controls="prev" aria-controls="customize">
						<button type="button" class="btn-prev border-white focus:border active:border cursor-pointer">
							<img src="{{ site.image_url }}/slider_arrow.svg" alt="Előző elem" class="w-10 px-2"/>
						</button>
					</li>
					<li class="next" data-controls="next" aria-controls="customize">
						<button type="button" class="btn-next border-white focus:border active:border cursor-pointer">
							<img src="{{ site.image_url }}/slider_arrow.svg" alt="Következő elem" class="w-10 rotate-180 px-2"/>
						</button>
					</li>
				</ul>
			</div>
		</div>
	</section>
{% endif %}
