<header id="main-header" role="banner" class="relative">
	<div id="topnav" class="flex justify-between items-start bg-fishingorange text-white text-xs uppercase py-3">
		{% if top_fejlec_szoveg %}
			<div class="container w-3/4 lg:w-full divide-x-2 space-x-2 [&>p]:my-0">
				{{ top_fejlec_szoveg }}
			</div>
		{% endif %}

		<ul class="w-1/4 flex justify-end lg:hidden space-x-2 list-none">
			<li>
				<a href="/fiokom" class="flex flex-col justify-center items-center space-y-2">
					<img src="{{ site.image_url }}/user.png" alt="Profilom" class="h-6!">
				</a>
			</li>

			<li>
				<a href="/kosar" class="flex flex-col justify-center items-center space-y-2">
					<img src="{{ site.image_url }}/shopping-bag.png" alt="Kosár" class="!h-6">
				</a>
			</li>
		</ul>
	</div>

	<nav id="mobile-nav" class="flex lg:hidden justify-between flex-col z-50" role="navigation" aria-label="Mobil menü">
		<div class="flex justify-between items-center bg-black">
			<a href="{{ site.url }}" rel="home" class="block">
				<img src="{{ site.image_url }}/logo.png" alt="{{ site.name }} főoldal megnyitása" class="block lg:hidden w-24"/>
			</a>

			<div class="block lg:hidden">
				{% include 'partials/searchform.twig' %}
			</div>

			<button id="menu-toggle" class="btn-toggle-menu flex items-center lg:hidden px-4" aria-label="Menü kinyitása" aria-controls="nav-menu" aria-expanded="false">
				<div id="nav-mobile-icons">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
		</div>

		<ul class="nav-menu absolute left-0 top-12 w-full hidden flex-col items-center bg-black list-none text-sm uppercase m-0 p-0 z-10">
			{% for item in menu.items %}
				<li class="nav-item list-none flex flex-col text-center {{ item.classes|join(' ') }}">
					<a class="nav-link relative text-white uppercase hover:underline underline-offset-2 hover:border hover:border-white focus:underline focus:border focus:border-white" href="{{ item.link }}">
						{{ item.title }}
					</a>

					{% if item.children %}
						<div class="sub-nav hidden px-4 py-4 bg-black text-white mx-auto z-20">
							<ul class="sub-nav-group mx-auto">
								{% for child in item.children %}
									<li class="submenu-item">
										<a href="{{ child.link }}" class="submenu-link">
											{{ child.title }}
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>

	<div class="hidden lg:block bg-black relative py-2">
		<div class="navbar-header container flex justify-between items-center">
			<a href="{{ site.url }}" rel="home">
				<img src="{{ site.image_url }}/logo.png" alt="{{ site.name }} főoldal megnyitása" class="hidden lg:block lg:w-28"/>
			</a>

			<div>
				{% include 'partials/searchform.twig' %}
			</div>

			<div>
				<ul class="flex space-x-4">
					<li>
						<a href="/fiokom" class="flex flex-col justify-center items-center space-y-2">
							<img src="{{ site.image_url }}/user.png" alt="Profilom" class="!h-6">
							<span class="text-white text-xs font-bold">Profilom</span>
						</a>
					</li>

					<li>
						<a href="/kosar" class="flex flex-col justify-center items-center space-y-2">
							<img src="{{ site.image_url }}/shopping-bag.png" alt="Kosár" class="!h-6">
							<span class="text-white text-xs font-bold">Kosár</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
